body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

tr{
  display: flex;
  flex-direction: row;
}

td {
  width:40px;
  height:40px;
  border: 1px solid black;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn {
  text-align:center;
}

#alert {
  font-size: 20px;
  color: red;
}